$MTDorange: #ec6610;
#underLine {
  text-decoration: underline;
  color: white;
}
.fairfood {
  input {
    position: relative;
    margin-top: 1rem;
    padding-left: 1rem;
    height: 3rem;
    width: 50%;
    color: #fff;
    border-bottom: 1px solid#fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 1px solid $MTDorange;
      outline: none;
    }
  }
}
.textinput {
  input {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 1rem;
    padding-left: 1rem;
    height: 3rem;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid#fff;
    border-radius: 5px 5px 0 0;

    transition: border-color 0.15s ease-out, background-color 0.15s ease-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 1px solid $MTDorange;
      outline: none;
    }
  }
}
