@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900&display=swap");

label,
span,
div,
h1 {
  color: white;
}

h4 {
  color: orange;
}

ul {
  list-style-type: none;
}
.admin_login {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
}

.admin_form {
  background-color: rgba(1, 1, 1, 0.2);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 3rem 3rem 3rem 3rem;
}

.admin_title {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
  flex-direction: column;
  h2 {
    color: white;
  }
  span {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}
.admin_container {
  display: flex;
  gap: 1rem;
  margin: 0 2rem 2rem 2rem;
  h2 {
    color: white;
  }
}
.admin_sponsor_top {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  justify-content: space-between;
}
.admin_sponsor_top_item {
  flex: 1;
}
.admin_sponsor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  h2 {
    color: #ff984a;
    font-size: 3rem;
  }
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
.admin_sponsor_item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: orange;
  }
}

.admin_sidebar {
  background-color: rgba(255, 255, 255, 0.09);
  float: left;
  min-width: 20%;
}
.admin_sidebar_item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.012);
    color: orange;
  }
}
.admin_sidebar_list {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: (2, 1fr);
  gap: 1rem;
}

.admin_companylist {
  display: flex;
  width: 46ch;
  margin-left: 5rem;
  padding-bottom: 2rem;
  max-height: 300px;
  overflow-y: auto;
  span {
    font-size: 1rem;
  }
}

#admin_listitem {
  display: flex;
  gap: 0.5rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  display: flex;
  background-color: #3a4151;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1000;
  span,
  p {
    color: white;
  }
}
.modal_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  h2 {
    font-size: 2rem;
  }
}
.modal_column_container {
  display: flex;
  gap: 20vw;
}
.admin_company_details {
  margin-left: 5rem;
  margin-right: 5rem;
  max-height: 500px;
  overflow-y: auto;
}
.modal_company_info {
  margin-top: 1rem;
  width: 100%;
  p {
    margin-top: 0.3rem;
  }
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
