$offWhite: #f5f5f7;
$MTDorange: #ec6610;
$MTDdarkblue: #13283c;

@mixin hideInput {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-left: 100px;
  h3,
  h2,
  span,
  p {
    color: #fff;
  }
  h1 {
    color: $MTDorange;
  }
  input {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
  }
  .paket {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 4vh;
  }
  .sponsor {
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    input {
      @include hideInput;
    }
    input + label {
      margin: 0;
      padding: 1rem 4rem;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      font-size: 1rem;
      color: #fff;
      line-height: 140%;
      font-weight: 600;
      text-align: center;
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
      transition: border-color 0.15s ease-out, color 0.25s ease-out,
        background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    }
    input:hover + label {
      border-color: $MTDdarkblue;
    }
    input:checked + label {
      background-color: $MTDorange;
      border-color: $MTDorange;
      z-index: 1;
    }
  }
  .contact {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
    .contactitem {
      position: relative;
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
      input {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        &:focus,
        &:not(:placeholder-shown) {
          + label {
            top: -20px;
            left: 0;
            color: $MTDorange;
            font-size: 12px;
          }
        }
      }
    }
  }
  .fairday {
    padding-top: 5vh;
    span {
      padding-top: 2vh;
      padding-bottom: 2vh;
      color: #fff;
    }
    .numberattend {
      display: flex;
      flex-flow: column;
    }
    .fairfood {
      padding-top: 0.5rem;
      input {
        border: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .option {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    border: hidden 1px;
    max-width: max-content;
    input {
      @include hideInput;
    }
    input + label {
      padding: 1.5rem 1rem;
      margin: 0 0 0 0px;
      min-width: 5rem;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
      transition: border-color 0.15s ease-out, color 0.25s ease-out,
        background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    }
    input:checked + label {
      color: $MTDorange;
      border: solid 1px;
      border-color: $MTDorange;
      box-shadow: 0 0 10px rgba($MTDorange, 0.2);
      z-index: 1;
    }
    input:hover + label {
      color: $MTDorange;
    }
    label {
      color: #fff;
    }
  }

  .submitButton {
    background-color: $MTDorange;
    font-size: 24px;
    color: #fff;
    border: none;
  }
  .numberInput {
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    height: 2rem;
    width: 3rem;
    text-align: center;
  }
  .counterContainer {
    margin: 1rem 0 1rem 0;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;
    .counterDecrement {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $MTDorange;
      height: 2rem;
      width: 2rem;
    }
    .counterIncrement {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $MTDorange;
      height: 2rem;
      width: 2rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .textinput {
    input {
      margin-top: 1.5rem;
      padding-left: 1rem;
      height: 3rem;
      width: 100%;
      color: #fff;
      border-bottom: 1px solid#fff;
      border-radius: 5px 5px 0 0;
    }
  }
}
