.expo-title {
  padding-top: 25vh;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  justify-content: center;
}

.expo-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 10vh 8vw 5vh 8vw;
}
.expo-card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 5vh;
  background: linear-gradient(
    90deg,
    rgba(29, 44, 52, 0.8) 0%,
    rgba(29, 44, 52, 0.8) 46%,
    rgba(22, 29, 33, 0.8) 100%
  );
  padding: 2vh 2vw 2vh 2vw;
  //box-shadow: inset 0px 0px 20px 10px rgba(255, 255, 255, 0.01);
  //min-height: 50vh;
}

.expo-card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0vh 4vw 2vh 4vw;
  h3,
  h2 {
    color: white;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 2vh;
  }
  h2 {
    font-size: 2rem;
  }
  span {
    font-size: 1rem;
  }
}

.expo-card-icon {
  display: flex;
  width: 30%;
  align-items: center;
  padding-left: 10vw;
}

.expo-stars {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
